.food-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  padding: 10px;
}

img {
  object-fit: cover;
  display: block;
  height: 100%;
  width: 250px;
  background-color: yellow;
}

.image {
  width: 250px;
  height: 250px;
}

/* CSS for Food Items */
.card {
  align-self: center;
  justify-self: center;
  height: 300px;
  margin: 3rem;
  font-size: 14px;
  line-height: 5px;
}

.recipelink {
  margin-top: 10px;
  padding: 10px 0px;
  display: block;
}

.card a:hover {
  text-decoration: underline;
}

.mealType {
  font-style: italic;
  color: gray;
  padding: 10px 0xp;
}

.calories {
  padding: 10px 0px;
}
